[2019-11-21 00:26] bendichter opened #1 "check for negative spike times"

[2020-02-09 21:59] bendichter opened #3 "add tests"

[2020-02-16 22:46] bendichter opened #5 "[Add Check]: check for spike times during unobserved intervals"

[2020-02-18 01:57] bendichter opened #6 "why check unique vals <= 4?"
This line is cluttering up the inspect output: https://github.com/NeurodataWithoutBorders/nwbinspector/blob/7ceab6262a75e0699e824d7e2babd918c5fde739/nwbinspector.py#L111-L112

I get why we are detecting a single unique value or two because it could be a boolean, but should we print anything for 3 or 4 unique values? What is the thinking behind this?

[2020-02-19 23:00] rly commented on #6
Let's remove that. There were some data files that had dataset values like "correct", "incorrect", and "early response", and it was nice to have those printed out since it had already calculated the unique values. This also identifies places where an eventual enum type would be useful for NWB. But for now, yeah, it's clutter.

[2020-02-19 23:15] #6 closed

[2020-05-22 18:55] rly opened #9 "Check for unordered timestamps"

[2020-05-22 18:56] rly opened #10 "Check for DynamicTableRegion values that are invalid"

[2020-05-22 18:58] rly opened #11 "Check that dimension lengths are aligned"
e.g. number of elements in `ElectricalSeries.electrodes` should be the same as number of 2nd dim of `ElectricalSeries.data`, number of elements in `TimeSeries.timestamps` should be the same as 1st dim of `TimeSeries.data`

[2020-07-17 18:24] rly opened #12 "Cannot import extension module prior to reading NWB file"
Some NWB files with extensions cannot be loaded purely with `NWBHDF5IO(path, load_namespaces=True)`. They require the API classes to be loaded first, e.g., `import ndx_franklab_novela`.

[2020-07-19 00:12] #12 closed

[2020-10-19 18:25] rly opened #14 "Check that large datasets are chunked"

[2022-01-10 19:01] bendichter opened #15 "refactoring"
Let's think about how to make this more extendable. How about this: We have a `Check` class, and this defines:

1. what neurodata type it is checking
2. the test
3. the severity

then nwbinspector simply loops through all neuodata objects, tests which checks apply to each object, and runs them.

NWBInspector would also have a method for adding or removing Checks

[2022-01-10 19:14] bendichter commented on #15
something like

[code]

[2022-01-10 19:19] bendichter commented on #15
or maybe

[code]

[2022-01-10 19:22] bendichter commented on #15
@CodyCBakerPhD

[2022-01-10 20:07] bendichter commented on #15
[code]

[2022-01-10 20:54] bendichter commented on #15
3 levels of severity:
3: most severe
    - probably incorrect data
2: medium severity
    - possibly incorrect data
    - very suboptimal data representation
1: low severity
    - improvable data representation

* go through all the auto_qc
* check size of chunks
* TimeSeries with dtype not float and have not specified conversion factor
*

[2022-01-11 17:30] bendichter commented on #15
idea: use decorators instead of manually maintaining list

[2022-01-11 17:33] bendichter commented on #15
need ability to disable individual checks, ideally as a command line tool

[2022-01-11 17:36] bendichter commented on #15
mirror module structure of pynwb

[2022-01-11 17:37] CodyCBakerPhD commented on #15
I've started implementing some of these ideas on this dev branch: https://github.com/catalystneuro/nwbinspector/tree/add_testing_and_refactor

I might put it to `catalystneuro/master` to get the actions running.

Still need to add the decorator idea and modular structure of pynwb.

[2022-01-11 17:37] bendichter commented on #15
should this act on builders? The advantage is that you could run these before you write.

[2022-01-11 17:40] bendichter commented on #15
indicate tests that can be run on builders

[2022-01-11 22:01] CodyCBakerPhD commented on #15
PR that includes many of these ideas: https://github.com/catalystneuro/nwbinspector/pull/2

(Not pointing to main repo just yet until we get initial design ironed out).

[2022-01-25 18:04] bendichter opened #17 "[Add Check]: ophys checks to add"
* [ ]  image_mask dimensions do not match dimensions of associated ImageSeries
* [x] wavelength is not in nm

[2022-01-25 21:11] bendichter opened #18 "test for non-ascending "_time" columns of a `TimeIntervals` table"

[2022-01-31 18:36] CodyCBakerPhD opened #20 "[Add Check]: check session start time"
Should probably check the session start time has been set properly within a file; not just as a `datetime` object, but as a valid date range for performing neurophysiology studies. E.g., if `session_start_time <= datetime(1970, 1, 1)` print `"Session start time may not be set to the true date of the recording."`

[2022-02-05 18:11] CodyCBakerPhD commented on #3
Fixed in new refactor

[2022-02-05 18:11] CodyCBakerPhD commented on #15
Primary refactor is now complete

[2022-02-07 20:09] rly opened #24 "GH Action for codecov not working"
1. The upload has the warning:
[code]
2. https://github.com/codecov/codecov-action v1 has been deprecated. We should use v2 now. I think this is why https://app.codecov.io/gh/NeurodataWithoutBorders/nwbinspector is not showing data.

[2022-02-07 20:38] #24 closed

[2022-02-07 20:40] #1 closed

[2022-02-07 22:01] oruebel opened #27 "Rename master to dev"
For consistency with the other NWB repos it would be nice to rename the master branch to dev

[2022-02-08 18:48] CodyCBakerPhD commented on #27
Done. Should I also, for consistency, add a `flake8` checker to the CI?

[2022-02-08 18:49] oruebel commented on #27
Yes, that would be great 👍

[2022-02-08 18:49] #27 closed

[2022-02-15 18:20] rly opened #33 "[Add Check]: Check that if experimenters string does not have comma"
If a user provides a comma-separated scalar string for `nwbfile.experimeter`, the inspector should recommend that they instead store an array of experimenter names. Same for keywords and related publications.

[2022-02-15 18:41] CodyCBakerPhD opened #34 "[Discussion]: Add Error Codes?"
As per breakout session discussion, it may be worth it to re-examine the question of associating explicit error codes to check functions.

Main point is this could (a) simplify skipping references, (b) allow us to change underlying function name but keep error code the same.

[2022-02-15 18:51] CodyCBakerPhD opened #35 "Add flag for DANDI intended upload"
Optional flag or config for DANDI alteration of importance levels of certain checks.

Idea from Dorota: warn the user that output report may appear different.

[2022-02-15 18:56] CodyCBakerPhD commented on #35
Maybe keep it as an `intent` flag, with `DANDI` as one possible option

[2022-02-15 18:59] CodyCBakerPhD opened #36 "Allow validator error messages to propagate"
It only currently tells which files and how many files failed due to validations and other errors. Basically just copy the Exception traceback outside those try/excepts

[2022-02-15 19:12] yarikoptic opened #37 "Add "config file" support"
not yet sure about all "features" but such config file should support but it must allow to specify
- which checks for which paths to ignore

This is largely inspired by config file in bids-validator, see https://github.com/bids-standard/bids-validator#configuration

It is needed since some of such ignores are "per dataset" and thus it should be possible to specify what to ignore in a specific data

[2022-02-15 21:10] #3 closed

[2022-02-15 21:10] #15 closed

[2022-02-16 03:55] CodyCBakerPhD opened #44 "Add badges to README"
Just need to add the little badge displays for version, tests, coverage, etc.

[2022-02-16 04:18] CodyCBakerPhD opened #45 "[Minor performance]: Use Caching for CI environments"
The most common usage of cache actions is to save the environment used to run tests so setup is not necessary.

This is always recommended to be done by hashing the current versions of the `requirements.txt` so you only do fresh installs when the versions change.

Will make the CI even faster, and reduce matrix-strategy computational waste (so we could really easily extend to 3.8 testing as well).

[2022-02-16 16:58] CodyCBakerPhD commented on #35
Another comment from Dorota: might want to warn the user (through documentation or actual warnings) that the output of the report might change depending on `intent`, to avoid confusion of generating reports with different outputs from the same exact NWBFiles.

Also may only want to allow elevation of importance levels, no de-escalation.

[2022-02-16 17:59] bendichter opened #48 "yield inspector messages"
I am working on a test for making sure that all time columns of a TimeIntervals object as ascending. This is a situation where a single object could throw multiple messages, one for each column. I think it would be useful to have the check functions `yield` the result, which would allow us to iterate over them.

[2022-02-16 21:42] #11 closed

[2022-02-16 21:42] #18 closed

[2022-02-16 21:42] #14 closed

[2022-02-16 22:45] #48 closed, assigned to nobody

[2022-02-17 02:46] bendichter opened #52 "problem with compression test"
This is showing up for many datasets:

[code]
It's not clear what dataset is causing the violation.

[2022-02-17 16:17] CodyCBakerPhD opened #57 "Do we need both license and Legal?"
@oruebel @bendichter

Two files in repo

https://github.com/NeurodataWithoutBorders/nwbinspector/blob/dev/Legal.txt

and

https://github.com/NeurodataWithoutBorders/nwbinspector/blob/dev/license.txt

do we need them both?

[2022-02-17 16:31] #44 closed, assigned to CodyCBakerPhD

[2022-02-17 16:32] oruebel commented on #57
I think the Legal.txt can be removed

[2022-02-17 16:33] CodyCBakerPhD commented on #36
@bendichter Looking into this now... There's a couple ways it could get resolved.

(a) Have the primary `inspect_nwb` function be responsible for capturing `pynwb.validation` errors, translate them into `InspectorMessage`s (blank fields except for validation error message, maybe define the `check_function_name` to be `PyNWB Validation` or something), and add them into the list of other `InspectorM

[2022-02-17 17:37] #57 closed, assigned to nobody

[2022-02-17 17:47] CodyCBakerPhD commented on #36
After discussion: will all be included in the same report. Field will be ERROR with traceback, or VALIDATION will be first section before CRITICAL.

[2022-02-17 18:54] #52 closed, assigned to nobody

[2022-02-17 20:09] #9 closed

[2022-02-18 00:20] #10 closed

[2022-02-18 02:59] CodyCBakerPhD opened #64 "Check Subject ID"
In advance of DANDI intention flag feature, need to add a check that subject ID is specified. Without DANDI intention this is probably just a BEST_PRACTICE_SUGGESTION, but will get elevated to CRITICAL when run with `intention=DANDI_UPLOAD` or `DANDI_PUBLISH`.

[2022-02-18 03:05] CodyCBakerPhD opened #65 "Check Subject Age is (a) specified and (b) ISO8601"
In advance of DANDI intention flag feature, need to add a check that subject ID is specified. Without DANDI intention this is probably just a BEST_PRACTICE_SUGGESTION.

Also need to add a check that if subject ID is specified, it is specified in ISO8601. Without DANDI intention this is probably a BEST_PRACTICE_VIOLATION since they did take the time to fill it out.

But both of these will get eleva

[2022-02-18 03:10] CodyCBakerPhD opened #66 "Check Subject Species is (a) specified and (b) follows some ontology"
In advance of DANDI intention flag feature, need to add a check that subject species is specified. Without DANDI intention this is probably just a BEST_PRACTICE_SUGGESTION.

Also need to add a check that if subject species is specified, it is specified using binomial nomenclature (with proper capitalization as well). Without DANDI intention this is probably a BEST_PRACTICE_VIOLATION since they did

[2022-02-18 16:47] #64 closed, assigned to nobody

[2022-02-18 19:24] #66 closed, assigned to nobody

[2022-02-18 19:52] #65 closed, assigned to nobody

[2022-02-18 21:39] #36 closed, assigned to nobody

[2022-02-24 01:31] yarikoptic opened #76 "By default just print/output to screen and not into a file"
## Description

During recent NWB-DANDI dev hackathon, during demonstration of the nwbinspector I forgot to ask -- why does it produce/save log into a file instead of just printing it to the screen (which then could be redirected to a file if desired, or there could be an option `--output-file FILENAME` to make it explicit)?

[2022-02-24 01:32] bendichter commented on #76
Yes

[2022-02-24 01:36] yarikoptic opened #77 "Provide "structured" machine readable output/return"
A companion to #76 but largely orthogonal.

Although we have not standardized in dandi-cli much either, and having looked into nwbinspector insides, but keeping in mind https://github.com/dandi/dandi-cli/issues/924, i.e. integration with dandi-cli, I think it would be great if internally all the "hints/warnings/whatever" were represented as some basic data structure (well -- `dict`) so from CLI I

[2022-02-24 01:37] bendichter commented on #77
Yes we are doing this too

Edit: well we currently have a Python function that outputs a list of InspectorMessage objects. We could also output them in json if that's easier

[2022-02-24 04:25] bendichter commented on #76
It does print them to the screen and also to a log file. The log file is also written to by default

[2022-02-24 04:27] CodyCBakerPhD commented on #76
Via CLI, option `--log-file-path path_to_file` allows an explicit save path for this. Default is `nwbinspector_log_file.txt` in the working directory.

In general, the design behind this is that running the full check suite on an NWBFile with a large number of objects can take a while, so the default strategy is to always save the report first; then, the output printed to console is actually just

[2022-02-24 04:44] CodyCBakerPhD commented on #77
We do plan on eventually offering other save formats.

Indeed, JSON and/or YAML could be among these additional future formats.

Before the recent restructuring to include `pynwb.validate` and full error tracebacks into the report, the primary function that does the heavy lifting ([inspect_nwb](https://github.com/NeurodataWithoutBorders/nwbinspector/blob/dev/nwbinspector/nwbinspector.py#L103-L110)

[2022-02-24 04:45] yarikoptic commented on #76
Imagine every tool (ls, git,...) dumped its log file right in the directory of invocation by default (says Yarik, the author of duecredit)? Sure thing to you, authors of the tool, it sounds like a good idea, but IMHO it is a bad and non conventional default.
- it might interfere with standardized layouts (eg bids)
- would give impression that may be currently saved listing is up to date when it is

[2022-02-24 05:24] CodyCBakerPhD commented on #76
What are some common situations for this?

If someone stored their NWBFile in BIDS structure and then ran the report from the same location as the file, and then didn't clean it up before sharing it?

First version of NWBFile -> run inspector -> make changes to NWBFile -> report is still there but they don't rerun NWBInspector. True, we've been thinking of some ways of to deal with this (even if w

[2022-02-24 14:31] CodyCBakerPhD commented on #76
Some other options that occurred to me:

Option (b): we define an explicit `cache` location associated with the inspector. That location could be within the package itself by default: for people doing the convenient PyPI install this would then be all self-contained, for devs we can just add the cache name to the `.gitignore`.

This allows us to store a history of report files, which could be usef

[2022-02-24 16:27] yarikoptic commented on #76
I decided to check a dataset of someone else.  That is what annoyed me in `git-annex` recently to be unable to do `annex info` which should be read-only operation (per se) on repos of others.  I think that is fixed now ;)

option (a) -- I was also advocate for "more interaction" from tools, but always brought down by good examples e.g. of `git` which doesn't ask questions unless explicitly request

[2022-02-24 16:47] CodyCBakerPhD commented on #76
@yarikoptic Thanks for all the input!

We'll go ahead and make the file save a non-default behavior, then - and decide on other more interactive aspects in the future.

[2022-02-24 23:18] bendichter commented on #77
It seems like converting this structure to json would work fine

[2022-02-25 21:35] #76 closed, assigned to CodyCBakerPhD

[2022-02-26 22:43] bendichter commented on #33
This is a bit tricky for experimenters, because they might have listed the name Last, First

[2022-02-28 15:15] #77 closed, assigned to nobody

[2022-02-28 22:09] bendichter opened #83 "[Feature]: parallelize over NWB files"
### What would you like to see added to the NWBInspector?

the -j --njobs flag should control number of simultaneous jobs that run inspector over NWB files in parallel

### Do you have any interest in helping implement the feature?

Yes.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/NeurodataWithoutBorders/nwbinspector/blob/dev/.github/CODE_OF_CO

[2022-02-28 22:12] CodyCBakerPhD opened #84 "[Add Check]: unknown or default start times"
### What type of check would you like to see added to the NWBInspector?

At times in the past, if a `starting_time` for some `TimeSeries` was unknown we set it to `np.nan` to indicate this fact. I just wanted to raise the question here officially to see if this is indeed encouraged or if the default behavior makes sense.

It's not stated in the best practices, and default behavior seems to assume

[2022-03-03 14:58] Saksham20 opened #87 "[Add Check]: validating video files under external_file attribute."
### What would you like to see added to the NWBInspector?

Video files that are linked to nwbfiles under `ImageSeries.external_file` should be inspected for:
- Checking their existence on disk with the path specified. (warning importance high). This check would defer for paths for local disk location vs urls.
- Whether video files are of the common formats: .avi, .mp4, .mov, .wmv, .flv. This can b

[2022-03-03 16:39] CodyCBakerPhD commented on #87
For starters, I think we can extend a couple of these checks to any object that uses external links.

Yeah, that would be great for any object that can and does have external links specified. What are some other objects that can currently support external links?

Similar to the above, this would also be good to check for any external link. The reasoning of course is that for (a) cross-platform sha

[2022-03-03 17:29] CodyCBakerPhD commented on #87
Otherwise I see that you are interested in contributing these yourself: please read the new Contributions instructions here https://github.com/NeurodataWithoutBorders/nwbinspector/pull/85

[2022-03-06 02:50] #37 closed, assigned to nobody

[2022-03-06 19:54] bendichter opened #88 "[Add Check]: ElectricalSeries.electrodes points to the electrodes table"
### What would you like to see added to the NWBInspector?

Also, RoiResponseSeries.rois points to a PlaneSegmentation table

### Pseudocode or other logic of the check

_No response_

### Do you have any interest in helping implement the check function?

Yes.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/NeurodataWithoutBorders/nwbinspector/blob/

[2022-03-09 08:30] CodyCBakerPhD commented on #35
Effectively added via config support in PR #86

[2022-03-09 08:30] #35 closed, assigned to CodyCBakerPhD

[2022-03-09 23:49] CodyCBakerPhD opened #97 "[Minor performance]: organization and main loop iterations"
Testing out this new button on GitHub - when you go into the `...` options in a GitHub discussion and select 'raise in new issue'.

Anyway, this is super low priority ATM, but leaving here for future reference. Especially now we have parallelization functioning well, performance per job is less of an issue.

An analogous approach can also be made to improve the main iteration loops for the NWBFile

[2022-03-10 16:56] oruebel opened #98 "[Documentation]: Update issue/PR labels to follow the organization default lables"
### What would you like changed or added to the documentation and why?

https://github.com/organizations/NeurodataWithoutBorders/settings/repository-defaults

### Do you have any interest in helping write or edit the documentation?

Yes.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/NeurodataWithoutBorders/nwbinspector/blob/dev/.github/CODE_OF_CO

[2022-03-10 17:22] CodyCBakerPhD commented on #98
The link https://github.com/organizations/NeurodataWithoutBorders/settings/repository-defaults shows up as a 404 page not found for me. But if you just want the labels to match the global repos under the NeurodataWithoutBorders family, sure I can do that

[2022-03-10 18:35] CodyCBakerPhD commented on #98
Done; HDMF and validator topics don't make much sense here so excluded those. We also have an extra category here specific to issues/PRs devoted to new checks or new best practices, separate from bigger picture project features

[2022-03-10 18:37] oruebel commented on #98
Perfect! Thanks for doing this!

[2022-03-10 18:37] #98 closed, assigned to oruebel

[2022-03-11 14:32] #83 closed, assigned to CodyCBakerPhD

[2022-03-14 15:46] bendichter opened #103 "[Add Check]: cell and sample id"
### What would you like to see added to the NWBInspector?

@satra has requested checks for more complete metadata associated with intracellular electrophysiology patch clamp experiments, including checking for cell and sample ids.

### Pseudocode or other logic of the check

_No response_

### Do you have any interest in helping implement the check function?

Yes, but I would need guidance.

### C

[2022-03-16 13:24] CodyCBakerPhD opened #108 "[Bug]: CLI config error-catching"
### What happened?

Also observing a very bizarre behavior where if there are actual Errors (like a `ValueError`) triggered within one of the test functions (see PR #106 that fixes the ones I'm seeing), they aren't grabbed within the `try/except` of `run_checks` and included in the report, but instead are raised to console as true errors:

![image](https://user-images.githubusercontent.com/5113316

[2022-03-16 13:25] CodyCBakerPhD commented on #87
Should also add a Best Practice section for ImageSeries data stipulating that order of color channels be "RGB", since we know now that OpenCV uses a different default than is standard for DLC/Scikit

[2022-03-16 13:34] bendichter commented on #87
This is explicitly defined in the schema, and I'm not sure how we would automatically check for this

[2022-03-16 13:39] CodyCBakerPhD commented on #87
Oh, I don't think we can automatically check for it, that's why I'm only suggesting adding as Best Practice. But adding it to the schema (if missing) would be even better.

The PyNWB docs for ImageSeries don't mentioned RGB unless I'm not seeing it: https://pynwb.readthedocs.io/en/stable/pynwb.image.html#pynwb.image.ImageSeries

It is mentioned in the RGBImage type, ImageMaskSeries, and OpticalSer

[2022-03-16 13:42] bendichter commented on #87
@CodyCBakerPhD you're right, it doesn't mention color channels at all. This would be a good issue to bring up on the schema repo

[2022-03-16 13:48] CodyCBakerPhD commented on #87
Issues raised upstream, then

[2022-03-16 13:51] CodyCBakerPhD commented on #88
@bendichter I think this got closed automatically by a PR that did something similar for `ophys`

Is this still a check you want to have added?

[2022-03-16 14:04] bendichter commented on #88
yes, we still need to add the ecephys check. It's a bit different, since "electrodes" doesn't have a dedicated neurodata_type

[2022-03-16 14:43] bendichter opened #109 "[Documentation]: add documentation for display_messages_by_importance"
https://github.com/NeurodataWithoutBorders/nwbinspector/blob/262ef38176a3dbbb1ccbeddd57687fc92cdda5ed/nwbinspector/inspector_tools.py#L61

[2022-03-20 21:28] CodyCBakerPhD opened #111 "[Feature]: an auto-fixer for missing metadata"
### What would you like to see added to the NWBInspector?

An idea that came up during a recent meeting with some BIDS folk would be to have a nice user-friendly way of automatically fixing common issues that come up during a run of the NWBInspector.

Clearly, some types of Best Practice violations, such as wrong data orientation, no data compression/chunking, etc. would require a complete reconve

[2022-03-21 11:30] luiztauffer opened #112 "[New Check]: Check Subject age or dob"
### What would you like to see added to the NWBInspector?

I'm getting this:
[code]

even if the Subject has `date_of_birth` defined.
I think `check_subject_age` should be changed to `check_subject_age_or_dob`

### Do you have any interest in helping implement the feature?

Yes.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/NeurodataWithoutBorder

[2022-03-21 14:21] CodyCBakerPhD commented on #112
From first line of [Subject Best Practices](https://nwbinspector.readthedocs.io/en/dev/best_practices/nwbfile_metadata.html#subject): "It is recommended to always include as many details about the experimental subject as possible."

I'll take that to mean that if you have the information available to fill in an available field, then it should be filled.

Age & DOB indeed have this special potentia

[2022-03-21 14:49] bendichter commented on #112
@luiztauffer you are right, we should not require both

[2022-03-21 14:58] CodyCBakerPhD opened #113 "[Add Check]: Slashes in object names"
### What would you like to see added to the NWBInspector?

Check that the `name` field of all objects does not include slashes ('/' or '\\').

Not really sure what the `neurodata_type` should be for this, though. Maybe have it act on anything that is a subclass of a NWBContainer, and then the logic of the test scans all the items inside that container?

Or just have it be a recursive function that

[2022-03-21 17:36] bendichter commented on #113
This should act on `NWBContainer`

[2022-03-21 20:11] yarikoptic opened #116 "[Feature]: conda-forge feedstock"
### What would you like to see added to the NWBInspector?

In light of nwbinspector becoming a dependency of dandi-cli in https://github.com/dandi/dandi-cli/, nwbinspector better becomes available for `conda` distribution within `conda-forge` channel so we would be able to continue having `dandi` client package there for the next release too.

@jwodder , since you have experience with creating fee

[2022-03-21 20:20] yarikoptic commented on #34
ref: https://github.com/dandi/dandi-cli/issues/943 on need of structured records in dandi-cli validator, and where pointing to table with error codes / names in bids-validator

[2022-03-21 20:31] yarikoptic opened #117 "[Feature]: per dataset configuration file to skip/ignore false positives"
### What would you like to see added to the NWBInspector?

Originally requested in #37 . I think that the implementation in #86 went on a different "tangent" from what my bids-validator-rotten mind had in mind: e.g. given the "stock" (provided by nwbinspector) `dandi` configuration I want to disable some tests/checks, e.g. reacting to some benign `check_data_orientation` as given in the example of

[2022-03-21 20:57] CodyCBakerPhD commented on #117
Yes, and an especially simple one at that: `nwbinspector -c dandi`

You can SKIP checks in the config, sorry we don't have more documentation on that yet (hoping soon; at the very least here is a [test demonstration](https://github.com/NeurodataWithoutBorders/nwbinspector/blob/dev/tests/test_check_configuration.py#L57-L61)), but it may be easier to have a SELECT functionality, which we support at

[2022-03-21 21:10] CodyCBakerPhD commented on #34
We're honestly still not too convinced that this would make anything easier, and could potentially add unnecessary complexity.

For us, the _name_ of the check function (and place in the [API documentation](https://nwbinspector.readthedocs.io/en/dev/api/checks.html#nwbinspector.checks.time_series.check_regular_timestamps) interlinked with [Best Practices](https://nwbinspector.readthedocs.io/en/dev

[2022-03-21 21:16] CodyCBakerPhD commented on #116
We use an automated GitHub Action to perform our PyPI upload with every new release; would something like that be possible with conda-forge?

[2022-03-22 16:31] jwodder commented on #116
@CodyCBakerPhD: No.  Releases with conda-forge are performed using conda-forge's own automation:

* Once the PR to conda-forge/staged-recipes is accepted, a new repository is created in the conda-forge organization for the project
* A bot regularly checks for new releases of the source package on PyPI
* New PyPI releases cause a PR to be created in the project's conda-forge repository that updates

[2022-03-23 22:50] #112 closed, assigned to nobody

[2022-03-25 13:16] CodyCBakerPhD opened #127 "[Documentation]: MatNWB UUID alternative?"
### What would you like changed or added to the documentation and why?

@bendichter or @lawrence-mbf In the Best Practices for the NWBFile `identifier`, I instruct PyNWB users towards the UUID project. What is the supported analog in MatNWB and do you have a link to a tutorial or other instructions that I can include?

### Do you have any interest in helping write or edit the documentation?

Yes.

[2022-03-25 13:19] CodyCBakerPhD opened #128 "[Documentation]: Coordinate description for Allen CCF v3"
### What would you like changed or added to the documentation and why?

The current Best Practices (ported from the old ones): https://nwbinspector.readthedocs.io/en/dev/best_practices/ecephys.html#anatomical-coordinates

indicates that for Allen Institute CCF v3, (+x = posterior, +y = inferior, +z = right).

1. Is there a documentation I can link specifically to this for the x/y/z conventions? I'

[2022-03-25 13:23] #88 closed, assigned to bendichter

[2022-03-25 15:53] bendichter commented on #128
Right refers to the subject's right, e.g. "right hemisphere"

[2022-03-25 15:53] bendichter commented on #128
I don't remember how we decided on the coordinates convention

[2022-03-25 16:01] CodyCBakerPhD commented on #128
Thanks, that clarifies.

[2022-03-28 13:58] lawrence-mbf commented on #127
For UUID MatNWB just uses `java.util.UUID.randomUUID().toString()` internally. Not sure if there are MATLAB packages that are better.

[2022-03-28 14:04] CodyCBakerPhD commented on #127
@lawrence-mbf Thanks! That's all I needed

[2022-03-28 15:54] #127 closed, assigned to nobody

[2022-03-28 18:00] #128 closed, assigned to nobody

[2022-03-29 20:44] #113 closed, assigned to CodyCBakerPhD

[2022-03-29 21:02] #20 closed

[2022-03-30 14:49] CodyCBakerPhD commented on #111
As per our last PyNWB + CN meeting, decision was to perhaps allow an additional `correction` attribute or something similar to the `InspectorMessage`. This message would instruction the user how to fix the issue in their conversion script. The attitude towards this being, an auto-fixer might be too much of a crutch and we wouldn't want people relying on it, instead of just fixing the thing in the

[2022-03-30 14:50] CodyCBakerPhD commented on #103
One tricky thing for this is I think it relies on the dandi icephys extension, so not entirely sure if it ought to be included in our core offering (through fancier autoloading for extensions) or if it all ought to exist on the DANDI side.

[2022-03-30 14:50] #84 closed, assigned to nobody

[2022-03-30 14:52] CodyCBakerPhD commented on #45
TBH tests are so fast it doesn't really matter

[2022-03-30 14:52] #45 closed, assigned to CodyCBakerPhD

[2022-04-02 22:00] #109 closed, assigned to nobody

[2022-04-07 09:53] oruebel opened #149 "[Documentation]: Broken/missing link to check function"
### What would you like changed or added to the documentation and why?

On https://nwbinspector.readthedocs.io/en/dev/best_practices/ogen.html the link the ``check_optogenetic_stimulus_site_has_optogenetic_series()`` is missing/broke

### Do you have any interest in helping write or edit the documentation?

No.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://

[2022-04-07 13:35] #149 closed, assigned to nobody

[2022-04-07 16:01] CodyCBakerPhD commented on #116
@jwodder Released new version and pinned on integration PR: https://github.com/dandi/dandi-cli/pull/941#discussion_r845306413

Did you want us to make the PR on conda-forge for the feedstock, or were you going to do that for us?

[2022-04-07 16:05] jwodder commented on #116
conda-forge PR created: https://github.com/conda-forge/staged-recipes/pull/18618

[2022-04-07 16:06] CodyCBakerPhD commented on #33
The [BP section for experimenters](https://nwbinspector.readthedocs.io/en/dev/best_practices/nwbfile_metadata.html#experimenter) does not describe the format in which they ought to write these things down: should this be updated to some standard, such as

Last Name, M. I., First Name

M. I. - 'middle initial'

And how should multiple experimenters be handled?

[2022-04-07 16:20] CodyCBakerPhD commented on #5
How do we define and detect an 'unobserved interval'?

[2022-04-07 16:24] CodyCBakerPhD opened #153 "[Feature]: specifiable output format"
### What would you like to see added to the NWBInspector?

Right now you can save the report file with any suffix, but what is truly written is a .txt format with .rst sectioning. It would be nice  to allow multiple formats to be saved such as .md, .doc, etc.

.md would be easy as the main difference is simply the section heading of `#/##/###` instead of `=/-/~`

For .doc, it is proposed to use ht

[2022-04-07 16:26] CodyCBakerPhD opened #154 "[Feature]: helper tool for running directly on a DANDISet ID #"
### What would you like to see added to the NWBInspector?

We've been running the inspector on DANDISets using the `ros3` mode for a while now, but a lot of it is still manually specified code for resolving the s3 paths. It's pretty easy to do automatically though so might as well port over the code so we can just call a nice simple function directly each time.

Only concern is if it might produce

[2022-04-07 16:29] CodyCBakerPhD opened #155 "[Add Check]: entire col/row of table is not NaN, and entire axis of TimeSeries.data is not NaN"
### What would you like to see added to the NWBInspector?

We were in the process of making something like this inspired by the previous commented code, but was also discovered in a recent manual inspection.

Basically, an entire row or column of a DynamicTable, or an entire axis of a TimeSeries, should not all be NaN.

There are some exceptions that we have to observe such as `x,y,z` for Electrod

[2022-04-07 16:35] CodyCBakerPhD opened #156 "[Add Check]: no data entry should be a dictionary"
### What would you like to see added to the NWBInspector?

We've seen cases where a Python dictionary is dumped directly into a data field of a table field that was allowed to be a string. These should instead be added as separate custom rows/columns to the table.

While it would be possibly to detect this with a simple `try`/`except` around a `dict` cast of the `str` value, it might be better pra

[2022-04-07 16:41] CodyCBakerPhD opened #157 "[Add Check]: identifier field is unique across folder"
### What would you like to see added to the NWBInspector?

An interesting test this would be; it is certainly a Best Practice that the `identifier` be unique to each individual NWBFile, but checks in the NWBInspector are designed to be run on single NWBFiles only. Will have to think about how to do this when calling the CLI on a folder or `inspect_all` on a folder path.

### Pseudocode or other lo

[2022-04-07 17:00] bendichter opened #158 "[Documentation]: link functions and classes in tutorials to API documentation"
### What would you like changed or added to the documentation and why?

using e.g. :py:class:`~nwbinspector.nwbinspector.inspect_all`

### Do you have any interest in helping write or edit the documentation?

No.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/NeurodataWithoutBorders/nwbinspector/blob/dev/.github/CODE_OF_CONDUCT.rst)
- [X] Have you

[2022-04-07 18:02] bendichter commented on #157
Maybe something like

[code]

though that might not work if you are parallelizing

[2022-04-07 18:07] bendichter commented on #156
What about https://stackoverflow.com/a/3845829/2559070?

[2022-04-07 18:08] bendichter commented on #5
the Units table has an "observed_intervals" argument

[2022-04-07 18:09] bendichter commented on #33
multiple experimenters should be handled as a vector of strings

[2022-04-08 19:30] #158 closed, assigned to CodyCBakerPhD

[2022-04-10 02:32] bendichter opened #165 "[Feature]: run command line on dandi hub"
### What would you like to see added to the NWBInspector?

I'd like to run in Terminal:

[code]

and have nwbinspector automatically set up the streaming to inspect the dandiset in the cloud

### Do you have any interest in helping implement the feature?

No.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/NeurodataWithoutBorders/nwbinspector/blob/

[2022-04-10 02:39] CodyCBakerPhD commented on #165
Happy to include this in the PR for issue #154 ; just about have a dev branch working for it, will open a PR by Monday.

[2022-04-10 02:41] bendichter commented on #165
sounds good!

[2022-04-11 14:14] CodyCBakerPhD commented on #33
OK so, as I understand the heart of this original issue is to try to detect people encoding multiple experimenters with comma-separation instead of being added as different elements of the vector.

However, there are several different ways people can encode a single experimenter name, such as

(a) Firstname Lastname
(b) Lastname, Firstname
(c) [Optional]: Firstname, M.I., Lastname
(di) [Optional]:

[2022-04-11 14:41] bendichter commented on #33
Here's DANDI's regex for name: https://github.com/dandi/dandi-schema/blob/ffa49ef5dc84bc5a234fbc9ca9ba04b872539893/dandischema/models.py#L48

[2022-04-11 15:24] CodyCBakerPhD commented on #33
Then their regex matches option (dii).

That could regex could be improved however; note that it allows numbers included in names (try `re.fullmatch(pattern=r"^([\w\s\-]+),\s+([\w\s\-\.]+)$", string="Baker2, Cody1")`) and disallows apostrophes (like`re.fullmatch(pattern=r"^([\w\s\-]+),\s+([\w\s\-\.]+)$", string="O'Baker, Cody")`).

Also note it does not accommodate role assignment of each experime

[2022-04-11 17:06] CodyCBakerPhD commented on #157
In principle it *should* work fine with parallelization (both processes and threading) since they share the global variable space and a list or strings is pickleable.

Two things about that approach we would need to be careful about...

(1) not an issue for CLI, but when running as as library, we would need a mechanism for resetting the `IDENTIFIERS` if running any `inspect_*` function more than o

[2022-04-11 18:46] bendichter commented on #33
@CodyCBakerPhD good points. Maybe we should raise these issues on the dandi schema repo

[2022-04-11 20:44] bendichter opened #172 "[Add Check]: check timestamps are equal"
### What would you like to see added to the NWBInspector?

If timestamps are equal between two different TimeSeries, space could be saved by linking from one to another

### Pseudocode or other logic of the check

_No response_

### Do you have any interest in helping implement the check function?

No.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.co

[2022-04-12 22:52] #154 closed, assigned to nobody

[2022-04-12 22:52] #165 closed, assigned to nobody

[2022-04-13 19:32] CodyCBakerPhD opened #176 "[Bug]: string parsing in certain checks"
### What happened?

When running on available dandisets, these two errors were discovered within our checks (look at top section)

[000207.txt](https://github.com/NeurodataWithoutBorders/nwbinspector/files/8484172/000207.txt)

### Steps to Reproduce

_No response_

### Traceback

_No response_

### Operating System

Linux

### Python Executable

Python

### Python Version

3.9

### Package Version

[2022-04-13 19:58] CodyCBakerPhD commented on #33
Turns out that was an older version (not most recent master): https://github.com/dandi/dandi-schema/blob/master/dandischema/models.py#L60

And they may continue to think numbers in names are OK.

One thing to note though as I look through their code and how they use it, I'm not 100% sure they actually require the NWBAsset experimenter metadata to follow that, that's just what they enforce for thei

[2022-04-13 20:09] CodyCBakerPhD opened #177 "[Feature]: lru caching for repeated table column data access"
### What would you like to see added to the NWBInspector?

Not a huge deal, but I notice it might increase performance on various dandisets to reduce the number of repeated data access operations by the table checks (or anything else that extracts the same limited amount of data across multiple checks).

We had previously hypothesized lru caching for this, so adding it to the to-do list.

### Do y

[2022-04-13 20:52] bendichter commented on #177
Good idea! Try

https://docs.python.org/3/library/functools.html#functools.cache

It might be tricky to make the inputs hashable. Maybe something like

[code]

[2022-04-13 20:55] bendichter commented on #33
@CodyCBakerPhD yes, exactly. This is a dandiset metadata requirement. I'd like to have the option of automatically pulling the experimenter metadata into the dandiset metadata, which is why I thought it might be convenient to have the same regex as a best practice.

[2022-04-14 16:55] bendichter opened #179 "[Feature]: adjust test coverage to not include test folder"
### What would you like to see added to the NWBInspector?

It looks like the codecov report is including the test in its line count. Would it be possible to change the coverage to just the package?

### Do you have any interest in helping implement the feature?

No.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/NeurodataWithoutBorders/nwbinspecto

[2022-04-14 16:57] CodyCBakerPhD commented on #179
It shouldn't be: https://github.com/NeurodataWithoutBorders/nwbinspector/blob/dev/codecov.yml#L18

Weird, I'll look into it

[2022-04-14 16:58] CodyCBakerPhD commented on #179
Are you sure? It's not displaying on the main page: https://app.codecov.io/gh/neurodatawithoutborders/nwbinspector

[2022-04-14 16:59] CodyCBakerPhD commented on #179
Or on specific branches: https://app.codecov.io/gh/neurodatawithoutborders/nwbinspector/branch/spatial_series_dims

[2022-04-15 02:43] #5 closed

[2022-04-15 02:43] #156 closed, assigned to nobody

[2022-04-15 04:32] CodyCBakerPhD commented on #179
However, it does appear as if there was a legacy mistake in the codecov settings for the repo that treated the default comparison and display branch as 'master' instead of 'dev'.

Fixed that: https://app.codecov.io/gh/NeurodataWithoutBorders/nwbinspector/

[2022-04-15 14:34] bendichter commented on #179
you got it! thanks!

[2022-04-15 14:34] #179 closed, assigned to CodyCBakerPhD

[2022-04-15 18:40] CodyCBakerPhD opened #183 "[Feature]: aggregate over location and pool messages"
### What would you like to see added to the NWBInspector?

We aggregate messages over file_path but not location; some dandiset reports show it would be much more readable if we aggregated over locations as well.

Also, some messages have format strings that make their actual messages different from others of the same check by a few characters. Ignore these differences when aggregating.

### Do yo

[2022-04-15 18:43] CodyCBakerPhD opened #184 "[Feature]: negative slicing of jobs"
### What would you like to see added to the NWBInspector?

It's often convenient to leave a few jobs on a system free to handle input requests, file navigation, etc. Using `--n-jobs -1` uses all resources available which can lead to a feeling of 'freezing' even on the Hub.

Hard to tell how difficult it might be but we could allow the `n_jobs` arg to be a negative value that behaves similarly to n

[2022-04-18 09:37] luiztauffer commented on #153
I think saving as `.json` would also be quite useful in the future, if we end up building automated actions based on reports

[2022-04-18 09:49] luiztauffer opened #186 "[Feature]: Save report file even if no violations or suggestions were found"
### What would you like to see added to the NWBInspector?

if the `--report-file-path` options is used, I believe we should generate the report file even if no violations or suggestions were found.
For example, I ran this command:
[code]
which took a long time to finish (lots of files at `.` with lots of timeseries fields), and got me confused when I couldn't find the report. Running it without th

[2022-04-18 13:03] bendichter commented on #186
good idea

[2022-04-18 13:53] #87 closed, assigned to CodyCBakerPhD

[2022-04-18 14:03] CodyCBakerPhD commented on #153
You already can via the `--json-file-path` argument in the CLI, and analogous arguments to the library functions.

This Issue is mostly about (a) possibly having all supposed suffixes under the same kind of flag like `--format` or `--file-type`, or I suppose just inferring it from the suffix of `--report-file-path`, and (b) supporting `.md` and `.doc(x)`.

[2022-04-18 14:17] #186 closed, assigned to nobody

[2022-04-18 18:28] bendichter opened #189 "[Documentation]: document streaming CLI usage in docs"
### What would you like changed or added to the documentation and why?

document streaming CLI usage in docs

### Do you have any interest in helping write or edit the documentation?

No.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/NeurodataWithoutBorders/nwbinspector/blob/dev/.github/CODE_OF_CONDUCT.rst)
- [X] Have you ensured this change was

[2022-04-18 18:46] bendichter opened #190 "[Documentation]: demonstrate inspect_all for dandiset"
### What would you like changed or added to the documentation and why?

demonstrate inspect_all for dandiset

### Do you have any interest in helping write or edit the documentation?

No.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/NeurodataWithoutBorders/nwbinspector/blob/dev/.github/CODE_OF_CONDUCT.rst)
- [X] Have you ensured this change was

[2022-04-18 18:46] bendichter opened #191 "[Feature]: inspect_all on staging"
### What would you like to see added to the NWBInspector?

Is this currently possible

### Do you have any interest in helping implement the feature?

No.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/NeurodataWithoutBorders/nwbinspector/blob/dev/.github/CODE_OF_CONDUCT.rst)
- [X] Have you ensured this feature was not already [requested](https://

[2022-04-18 18:53] CodyCBakerPhD commented on #191
Working on it, will require me to confirm that reproducible issue I mentioned last time and post upstream, will do it in next day or so

[2022-04-19 17:09] CodyCBakerPhD commented on #17
@bendichter So now it's just the 2nd one,

that is left, right?

[2022-04-20 08:37] luiztauffer opened #192 "[Feature]: Allow string input to 'importance_threshold'"
### What happened?

When passing `importance_threshold` as a string, it can't be checked against Importance members.
It could be specific to Python 3.8, from what I gathered googling it.

### Steps to Reproduce

[code]

### Traceback

[code]

### Operating System

Linux

### Python Executable

Python

### Python Version

3.8

### Package Versions

_No response_

### Code of Conduct

- [X] I agree

[2022-04-20 14:55] CodyCBakerPhD commented on #192
OK so - according to the [annotation typing of `inspect_nwb` and `inspect_all`](https://github.com/NeurodataWithoutBorders/nwbinspector/blob/dev/nwbinspector/nwbinspector.py#L281) this is not technically a bug, but rather the expected input to the argument is one of the actual `Importance` attributes

As such, your library usage code can be easily corrected via

[code]

which is the intended and c

[2022-04-20 17:04] CodyCBakerPhD opened #194 "[Documentation]: Should subject.strain specify sub-species?"
### What would you like changed or added to the documentation and why?

The current Best Practice for [specifying sub-species of Subjects](https://nwbinspector.readthedocs.io/en/dev/best_practices/nwbfile_metadata.html#species) indicates to append sub-species information after a dash separation.

This is mainly motivated by our previous usage in the Buzsaki datasets to specify the Long Evans type,

[2022-04-20 17:28] rly commented on #194
Yes. Long Evans is a strain (as well as Sprague-Dawley and Wistar). C57BL/6 is a common mouse strain.

[2022-04-20 18:12] CodyCBakerPhD commented on #116
All done now!

[2022-04-20 18:12] #116 closed, assigned to CodyCBakerPhD

[2022-04-21 15:55] bendichter commented on #17
yeah

[2022-04-22 18:05] CodyCBakerPhD opened #197 "[Bug]: Can't read data (curl cannot perform request)"
### What happened?

As I parse the remaining errors from the first attempt to inspect the entire archive, a number of repetitions of this issue occur. One basic example is in the traceback section below, but I've also attached all report files where it occurs, which spans multiple objects.

There also seem to be some related issues such as `ConstructErrors` and `KeyError: 'Unable to open object by

[2022-04-22 18:22] CodyCBakerPhD opened #198 "[Bug]: check_resolution is None"
### What happened?

2nd error occurring during `ros3` inspection of 000065.

[000065.txt](https://github.com/NeurodataWithoutBorders/nwbinspector/files/8543160/000065.txt)

### Steps to Reproduce

_No response_

### Traceback

[code]

### Operating System

Linux

### Python Executable

Python

### Python Version

3.9

### Package Versions

_No response_

### Code of Conduct

- [X] I agree to follo

[2022-04-22 18:29] CodyCBakerPhD opened #199 "[Bug]: check_data_orientation key-error for data"
### What happened?

One of several occurrences of issues when scanning dandiset 000065

[000065.txt](https://github.com/NeurodataWithoutBorders/nwbinspector/files/8543182/000065.txt)

### Steps to Reproduce

_No response_

### Traceback

[code]

### Operating System

Linux

### Python Executable

Python

### Python Version

3.9

### Usage

Library (Python code)

### Were you streaming with ROS3?

[2022-04-22 18:32] CodyCBakerPhD opened #200 "[Bug]: Explicit example of ElectrodeTable construction error"
### What happened?

Mentioned as a part of #197, but here's an explicit case of it found from inspecting dandiset 000165.

[000165.txt](https://github.com/NeurodataWithoutBorders/nwbinspector/files/8543204/000165.txt)

### Steps to Reproduce

_No response_

### Traceback

[code]

### Operating System

Linux

### Python Executable

Python

### Python Version

3.9

### Usage

Library (Python code)

[2022-04-22 18:34] CodyCBakerPhD opened #201 "[Bug]: S3 path Builder"
### What happened?

Final error of dandiset 000209, could possibly just be a consequence of the curling issues in #197, but this shows up differently for whatever reason.

[000209.txt](https://github.com/NeurodataWithoutBorders/nwbinspector/files/8543222/000209.txt)

### Steps to Reproduce

_No response_

### Traceback

[code]

### Operating System

Linux

### Python Executable

Python

### Python

[2022-04-22 18:42] CodyCBakerPhD commented on #197
@bendichter This may be a general streaming issue present for particular NWBFiles, so maybe we should transfer this issue to PyNWB, what do you think?

[2022-04-22 18:46] CodyCBakerPhD commented on #201
So this one is interesting because it passed `nwbfile = io.read()` just fine for that asset. But it didn't build some kind of internal file link?

Probably another thing that isn't to be considered a NWBInspector-specific problem, so we can transfer this to PyNWB.

[2022-04-22 18:53] CodyCBakerPhD commented on #198
This is a weird one. While it would be possible (and perhaps our responsibility) to prevent this issue on the NWBInspector side, these are some weird TimeSeries objects to begin with. Note another issue here

[code]

So these TimeSeries have no `data` (or at least it's not in the `fields`) and no `resolution` (or at least it's not accessible via `my_time_series.resolution`.

[2022-04-22 18:55] CodyCBakerPhD commented on #198
Given how specific this issue is to however this particular file was made, I think we can safely set this as a low-priority thing to resolve on our end and just assume that a well-written NWBFile has those attributes present.

Do you agree @bendichter?

[2022-04-22 18:56] CodyCBakerPhD commented on #199
Considering this a part of #198

[2022-04-22 18:56] #199 closed, assigned to CodyCBakerPhD

[2022-04-22 18:57] CodyCBakerPhD commented on #200
As with the others, this steps from the fact that the file isn't readable, so we can pass the buck over to PyNWB if you agree @bendichter

[2022-04-25 16:05] bendichter commented on #197
Is this error repeatable for the same file? If so, can you put together a minimal example?

[2022-04-25 16:06] bendichter commented on #197
It's hard to tell at this point of this is issue is being caused by a bug in DANDI, s3, h5py, ros3, or PyNWB

[2022-04-25 16:19] bendichter commented on #198
Does this file fit the schema? Is TimeSeries.resolution optional?

https://nwb-schema.readthedocs.io/en/latest/format.html#timeseries

It looks like indeed it is. "..resolution" has "required=False". Makes me wonder why we even have default values for resolution. But this file is correct according to the schema, so we should be able to handle it.

[2022-04-25 16:32] CodyCBakerPhD commented on #198
Right, but if you don't specify resolution it defaults to `-1.0`:

[code]

and likewise does not like it if you explicitly specify setting it to `None`

[code]

Interestingly I can do

[code]

but that wouldn't reproduce the above error.

[2022-04-25 16:35] bendichter commented on #198
nwbinspector should be able to handle files that were not written using PyNWB. If it complies with the NWB schema, we should be able to inspect it without error

[2022-04-25 16:39] CodyCBakerPhD commented on #198
Ohhh dang, you're saying if you don't specify `resolution` in a `TimeSeries` via MatNWB, it won't default to `-1.0`? I see

[2022-04-25 16:41] #176 closed, assigned to CodyCBakerPhD

[2022-04-25 16:43] CodyCBakerPhD commented on #197
Exactly, I'll try downloading a local file from there and see

[2022-04-25 17:01] bendichter commented on #198
I don't really understand why `test = TimeSeries(name="test", data=[], unit="test", rate=1.0, resolution=None)` doesn't work

[2022-04-25 17:06] CodyCBakerPhD commented on #198
Does it let you do it on your end?

When I run it on my side I get

[code]
since a `NoneType` doesn't match allowed docval cases.

[2022-04-25 17:18] bendichter commented on #198
yeah it looks like there is a mismatch here between PyNWB and the schema

[2022-04-25 17:50] CodyCBakerPhD commented on #198
LOL ok, I figured it out.

From

[code]

go down to

[code]

and observe

[code]

Working on a fix in our code for this, but the only way I know to write a test for this is specifically on this s3 path.

[2022-04-25 18:22] CodyCBakerPhD commented on #197
Yeah IDK then, this was a reproducible error when running the archive-wide script on the Hub, but isolated and local attempts to reproduce behave fine.

Not a problem with the file, PyNWB reads a local copy just fine.
Not a problem with streaming, I was able to open that particular file on DANDI just fine.
Running a local stream inspection on that dandiset ID and it is so far running fine.

Maybe

[2022-04-25 18:40] bendichter commented on #197
maybe bring up with the DANDI team?

[2022-04-25 18:57] #198 closed, assigned to CodyCBakerPhD

[2022-04-25 19:00] CodyCBakerPhD commented on #197
I will when/if I can find a nice concrete way of reproducing it

[2022-04-29 17:50] bendichter opened #206 "[Add Check]: SpatialSeries units"
### What would you like to see added to the NWBInspector?

If a SpatialSeries is inside a CompassDirection, units should be "degrees" or "radians".

### Pseudocode or other logic of the check

_No response_

### Do you have any interest in helping implement the check function?

Yes.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/NeurodataWithoutBo

[2022-04-29 18:06] bendichter commented on #206
Also pupil tracking and eye tracking

[2022-05-01 01:04] #206 closed, assigned to nobody

[2022-05-03 15:59] CodyCBakerPhD opened #208 "[Add Check]: units are in SI values"
### What would you like to see added to the NWBInspector?

There is a best practice section currently on units of measurement (https://nwbinspector.readthedocs.io/en/dev/best_practices/time_series.html#units-of-measurement) for the `units` field of any `TimeSeries`.

@weiglszonja Recently found some examples worth bringing up regarding this.

(a) where they use the British spellingof the words, *e

[2022-05-03 16:50] CodyCBakerPhD commented on #208
https://github.com/bids-standard/bids-specification/pull/411 and https://github.com/NeurodataWithoutBorders/nwb-schema/pull/446 came up in meeting for this.

I do like http://people.csail.mit.edu/jaffer/MIXF/CMIXF-12

[2022-05-04 15:48] CodyCBakerPhD commented on #208
Also happy to enlist the help of @weiglszonja with this if you want to spearhead it. Also happy to show you how to add check functions in our next meeting

[2022-05-04 18:49] weiglszonja commented on #208
@CodyCBakerPhD Sure, it would be nice to put together something like this:
https://github.com/sappelhoff/bids-specification/blob/master/src/99-appendices/05-units.md

[2022-05-05 15:32] CodyCBakerPhD opened #209 "[Add Check]: age Duration range and Best Practice"
### What would you like to see added to the NWBInspector?

From discussion the other day, need to formalize a Best Practice for using the `age` of `Subject` as a free-form text field to account for some additional properties.

We already recommend ISO 8601 when exact age is known. If only a range is available, this uncertainty should be indicated.

I think what we landed on was using interval nota

[2022-05-05 15:33] CodyCBakerPhD commented on #209
I think @h-mayorquin expressed interest in leading this

[2022-05-05 15:39] bendichter commented on #209
I believe we decided to use attributes of the dataset.

* It is recommended, if known, to use ISO 8601 duration for the `age` field.
* If a precise age is not known, enter any string for `age`, e.g. "6-8 weeks".
* If exact age is not known but an age range is known, use the attributes `age.lower_bound` and `age.upper_bound`, which if used are required to be ISO 8610 duration format.
* If the age i

[2022-05-05 15:48] weiglszonja commented on #208
might be useful for the check functions (for future reference):
https://github.com/sensein/cmixf

[2022-05-19 06:16] rly opened #211 "[Add Check]: Images.order_of_images should map 1 to 1 to Image objects in Images"
### What would you like to see added to the NWBInspector?

NWB 2.5 will introduce a new dataset for `Images` named "order_of_images" which specifies the order of the images within the `Images` object.

We should check:
1. "order_of_images" contains references to all of the images only once that are in the `Images` object
2. "order_of_images" contains no other images (e.g., from another object)

##

[2022-05-19 15:36] bendichter commented on #211
Thanks for filing this, @rly. This seems pretty straightforward, and we will be happy to implement it as soon as 2.5 is released.

[2022-05-19 18:45] oruebel commented on #211
Is ``order_of_images`` required to have the same length as the number of images stored in Images? If so,m that should probably another check. Also, if ``order_of_images`` is intended to only provide a unique order of the images without repeats---compared to e.g., allowing users to create a randomized order of images where the same image may be repeated several times---then I think we should expand

[2022-06-29 15:41] anhknguyen96 commented on #197
Not sure if this is a similar issue, but I inspected dandiset 000003 using inspect_all (code shown below)

[code]
After running for more than 2 hours (with 11/101 files inspected, is that normal?), it crashed with an OSError: Unable to open file (curl cannot perform request).

Attached is the report from the unfinished inspection, if it helps. I'd appreciate any thoughts on this.
[report_000003.cs

[2022-06-29 15:46] CodyCBakerPhD commented on #197
Definitely not normal for that DANDI set (I recall running it through streaming within 10 minutes or so, granted that was on the DANDIHub).

Good to know I'm not the only one that has run into this before - the fact you made it 11 files in means the streaming and s3 resolution was working for _some_ files, certainly... but as to why it suddenly occasionally stops for other files in the same locati

[2022-06-29 15:59] anhknguyen96 commented on #197
That's what I thought too. I'm not familiar with streaming via S3 so it's a shame if that's the case.

So from your experience, inspecting dandisets via streaming is done relatively quick for all dandisets?

[2022-06-29 16:06] CodyCBakerPhD commented on #197
Not all, no, but I'd say most. Depends on how many files are in each set; the slowest tend to be those sets out there with hundreds of files in them. Also depends on how many objects are in each file, and how many checks end up getting triggered in each file (most checks in the NWB Inspector have early-exit logic so they take almost no time to scan if they aren't initially triggered).

Would be wo

[2022-06-29 16:15] anhknguyen96 commented on #197
I've tried 3 times now, different times and days. The first time it crashed after sometime but I didn't document, the second time I had to terminate the process after 1h, and this is the third instance.

By they you mean the NWB Inspector? I suppose it works by accessing files sequentially and not in parallel?

[2022-06-30 07:56] anhknguyen96 commented on #197
I inspected another dandiset (000059), which has 54 files and the process took more than 3 hours. The last file in the set encountered the `<class 'OSError'>: Can't read data (curl cannot perform request)` error (report attached). This dandiset isn't in the list of the dandisets that @CodyCBakerPhD inspected which had the same error. Did you run this dandiset previously? @CodyCBakerPhD

I'm not su

[2022-06-30 14:13] CodyCBakerPhD commented on #197
Ah, worth mentioning that when I ran all these I did so on the DANDIHub (which has a direct connection to the archive) as well as an extra large spawn (I think I used 20+ CPU's) combined with the nice parallelization of the NWB Inspector (`nwbinspector --n-jobs XX`) so it took much less time than that.

Indeed! And without issue. Here is our original report.
[000059_successful_run.txt](https://git

[2022-06-30 16:23] anhknguyen96 commented on #197
Adding to the list (my version) of unsuccessful NWBInspector run, dandiset 000117. It managed to run 157/197 files and crashed with the same `OSError: Can't read data (curl cannot perform request)` error. Unfortunately, I used inspect_all, so reports of successfully inspected files weren't saved.

[2022-06-30 16:28] jwodder commented on #197
Just to be clear, the URLs that you're trying to read are all S3 URLs, correct?  I believe S3 recommends retrying any 5xx or connection errors up to about 10 or 12 times (can't find the reference right now).

[2022-06-30 16:35] anhknguyen96 commented on #197
yes

I'm not sure I follow, would you please elaborate?

[2022-06-30 16:42] jwodder commented on #197
@anhknguyen96 If an HTTP request to an S3 URL fails due to either a connection error (e.g., read timeout) or because the server returned a response with an error code in the 500-600 range, Amazon recommends retrying the request with an exponentially-increasing delay between retries; [here's the best reference for that I could find at the moment](https://docs.aws.amazon.com/general/latest/gr/api-re

[2022-07-01 00:01] CodyCBakerPhD commented on #197
Thanks a bunch @jwodder I'll add the suggested exponential-delay retry whenever the `ros3` driver is used.

[2022-07-01 12:54] anhknguyen96 commented on #197
great, thanks all!

[2022-07-01 13:19] bendichter opened #216 "[Bug]: names not working"
### What happened?

[code]

### Steps to Reproduce

_No response_

### Traceback

_No response_

### Operating System

macOS

### Python Executable

Conda

### Python Version

3.9

### Usage

Command Line Interface

### Were you streaming with ROS3?

No

### Package Versions

attrs==21.4.0
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_83242e7e-f82d-4a71-8ef2-9d71d21

[2022-07-01 13:22] CodyCBakerPhD commented on #216
Thanks for attaching all the system information!

After requesting you to try NOT using the `--config` flag, the behavior was as expected.

Looks like a related issue to https://github.com/NeurodataWithoutBorders/nwbinspector/issues/108

[2022-07-01 13:22] CodyCBakerPhD commented on #108
Related to `--config` usage: https://github.com/NeurodataWithoutBorders/nwbinspector/issues/216

[2022-07-05 00:22] CodyCBakerPhD commented on #197
Now finally evidence of this on a well-established file in the testing suite: https://github.com/NeurodataWithoutBorders/nwbinspector/runs/7188205359?check_suite_focus=true

I'll try to get this fix out in the next couple of days

[2022-07-08 13:31] bendichter opened #220 "[Add Check]: add check for if electrodes table x, y, z are NaNs"
### What would you like to see added to the NWBInspector?

With the new pynwb release, 2.1.0, you no longer need to fill x, y, and z with `np.nan`. We should make a suggestion to remove these if they are present. Maybe this suggestion should only show up to the nwb schema version is >= 2.5.0. What do you think, @CodyCBakerPhD? Should we make version-specific messages?

### Pseudocode or other logi

[2022-07-08 16:42] CodyCBakerPhD commented on #220
So, a new check that `if nwb_schema_version >= 2.5.0 and any_new_optional_electrode_cols_are_nan`, alerts the user that they don't need to specify them? I'd be fine with that, yeah. It isn't terribly common to make this type of schema change so we shouldn't get too bogged down from the precedence to make too many version-specific checks.

[2022-07-11 12:48] CodyCBakerPhD commented on #197
More evidence - https://github.com/NeurodataWithoutBorders/nwbinspector/runs/7282295969?check_suite_focus=true

This time, it occurred during CLI usage, as well as _after_ `nwbfile = io.read()`, something I had been wondered if it was possible to occur. Meaning it read the initial file structure just fine but while collecting messages it was unable to pull something from the file due to the curl i

[2022-07-11 13:01] CodyCBakerPhD commented on #197
And again! https://github.com/NeurodataWithoutBorders/nwbinspector/runs/7282540229?check_suite_focus=true

Never seen this many all in sequence, wonder if it has something to do with that CI being py v3.10, or the version `h5py` it uses for that?

[2022-07-11 13:03] bendichter commented on #197
I don't think it has to do with the files or the code. I think it's a connection issue on the s3 side

[2022-07-11 13:46] yarikoptic commented on #197
was [recommended](https://github.com/NeurodataWithoutBorders/nwbinspector/issues/197#issuecomment-1171447729)/[agreed to be implemented](https://github.com/NeurodataWithoutBorders/nwbinspector/issues/197#issuecomment-1171782303) retrying implemented and these fresh failures are with retrying or it is still "one in a bunch" fails?

[2022-07-11 13:52] CodyCBakerPhD commented on #197
PR #223 tries to fix it, my recent posts were merely evidence outside of that PR that it can occur not just within the `nwbfile = io.read()` step (which all previous evidence had pointed to) but also within the actual evaluation of the checks on the file.

Yes, also just me mundanely remarking that I'm seeing more of these issues (even in the CI) than I did previously for whatever reason.

[2022-07-11 14:06] oruebel commented on #197
Yes, read failures (in particular with network files) can occur any time read from the file directly happens. On ``nwbfile = io.read()`` the file structure and attributes are read, but any HDF5 datasets are not read. For inspector checks, this means if you access data from an ``h5py.Dataset`` object as part of the check, it will need to do a read from file, which in the case of S3 will require a o

[2022-07-11 15:34] CodyCBakerPhD commented on #200
Going to call this a side-effect of #197 and hope that #223 fixes it. Will reopen if I encounter it again

[2022-07-11 15:34] #200 closed, assigned to CodyCBakerPhD

[2022-07-11 15:34] CodyCBakerPhD commented on #201
Going to call this a side-effect of #197 and hope that #223 fixes it. Will reopen if I encounter it again

[2022-07-11 15:34] #201 closed, assigned to CodyCBakerPhD

[2022-07-11 19:57] #192 closed, assigned to CodyCBakerPhD

[2022-07-11 20:07] #197 closed, assigned to CodyCBakerPhD

[2022-07-11 20:24] #184 closed, assigned to CodyCBakerPhD

[2022-07-12 14:52] #211 closed, assigned to bendichter

[2022-07-12 17:17] #33 closed, assigned to CodyCBakerPhD

[2022-07-12 17:17] #194 closed, assigned to CodyCBakerPhD

[2022-07-13 20:39] CodyCBakerPhD commented on #172
@bendichter Are you sure an actual link is formed between the `h5py.Dataset` objects when you do that? If so do you have some minimal demonstrative code through PyNWB?

I'm trying the following on https://github.com/NeurodataWithoutBorders/nwbinspector/tree/check_timestamps_equal but no luck so far

[code]

[2022-07-14 21:42] bendichter opened #233 "[Add Check]: check the range CompassDirection"
### What would you like to see added to the NWBInspector?

If a SpatialSeries object has units radians the values should not go above 2 pi. If the units are degrees the values should not go above 360

### Pseudocode or other logic of the check

_No response_

### Do you have any interest in helping implement the check function?

No.

### Code of Conduct

- [X] I agree to follow this project's [Cod

[2022-07-18 16:31] #233 closed, assigned to bendichter

[2022-07-18 19:10] #108 closed, assigned to CodyCBakerPhD

[2022-07-18 19:10] #216 closed, assigned to CodyCBakerPhD

[2022-07-18 19:29] #157 closed, assigned to CodyCBakerPhD

[2022-07-18 23:20] #177 closed, assigned to CodyCBakerPhD

[2022-07-19 14:01] h-mayorquin commented on #209
Commenting here for the to-do list.

[2022-07-19 14:53] bendichter opened #235 "[Add Check]: imageseries arg check"
### What would you like to see added to the NWBInspector?

If there is no external file, there should be no starting frame.

### Pseudocode or other logic of the check

_No response_

### Do you have any interest in helping implement the check function?

Yes.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/NeurodataWithoutBorders/nwbinspector/blob/

[2022-07-25 15:49] CodyCBakerPhD commented on #208
Also suggesting `a.u.` to denote arbitrary units whenever unknown or unavailable. Remember this being pretty common for publication figures where the unit scales didn't really matter

[2022-07-26 20:22] TomDonoghue opened #239 "[Bug]: the minimum numpy version is not specified"
### What happened?

Because `nwbinspector` uses numpy.typing, which is new in numpy version 1.20, this makes 1.20 the minimum required numpy version - however this isn't specified in the installation.

Numpy.typing link: https://numpy.org/devdocs/reference/typing.html

Numpy isn't listed in `requirements.txt`, I think because it is assumed to be installed given that `pynwb` is required. However, `

[2022-07-26 21:23] CodyCBakerPhD commented on #239
Thanks for submitting an issue @TomDonoghue! There's a PR in progress right now from @jwodder: https://github.com/NeurodataWithoutBorders/nwbinspector/pull/238

But tests appear to be failing there depending on the Python version.

In general, the approach to use `numpy.testing` annotation typing for ArrayLike arguments is an intended recent addition as we used to manually define much less rigorou

[2022-07-26 21:54] TomDonoghue commented on #239
Ooops - sry, I missed the open PR, as I only looked at the issues!

The fix in #240 looks like it should fix this!

[2022-07-26 22:05] TomDonoghue opened #241 "[Bug]: Unclear error message from `check_col_not_nan` check"
### What happened?

I ran NWBinspector on some files, and got an unclear error message from the `check_col_not_nan` check, which was raised as an error. From some detective work, we realized this is because in an Electrode Table I do have a column of all NaN (as a placeholder, I had filled the impendences with NaN).

NWBinspector is right to flag this, but it seems to have trouble reporting this i

[2022-07-27 13:10] #239 closed, assigned to nobody

[2022-07-27 14:00] CodyCBakerPhD commented on #241
@TomDonoghue Thanks for the report!

Sorry you ran into this issue. This is a very recently added check so you're probably one of the first to try running the inspector with the most recent release that includes it.

As far as why the report appears that way (in particular, non very descriptive), we like to capture runtime errors during the check functions and include them in the same report along

[2022-07-27 14:03] TomDonoghue commented on #241
Running my file with the `fix_table_col_nan_check` branch seems to fix things to run as expected!

I no longer get an error log, and I do see what I assume to be a correct report of the issue:

<img width="683" alt="Screen Shot 2022-07-27 at 10 01 51 AM" src="https://user-images.githubusercontent.com/7727566/181266954-efde9582-3114-4086-895d-bbb0c580313d.png">

Let me know if there is anything els

[2022-07-27 14:12] TomDonoghue commented on #241
For the issue of the inspector printing out runtime error logs, does it make sense to have something like a `debug` flag, which if true, prints the full error as current, but if false squashes the error and just says something like: "An error was encountered, set debug=True to see details"?

[2022-07-27 14:12] CodyCBakerPhD commented on #241
Great, thanks for checking!

This particular error also has a secondary influence - the 'imp' column was recently altered to be optional in NWB Schema 2.5.0, since it being previously required made it a _very_ common practice to just set all columns like that to NaN. If using latest PyNWB you therefore shouldn't need to even specify that column at all (so this check message is safe for that versio

[2022-07-27 14:13] CodyCBakerPhD commented on #241
That could be something to consider, definitely! I'll splinter that into a separate isssue.

[2022-07-27 14:13] CodyCBakerPhD opened #243 "[Feature] Add debug flag for including ERROR level traceback"
For the issue of the inspector printing out runtime error logs, does it make sense to have something like a `debug` flag, which if true, prints the full error as current, but if false squashes the error and just says something like: "An error was encountered, set debug=True to see details"?

_Originally posted by @TomDonoghue in https://github.com/NeurodataWithoutBorders/nwbinspector/issues/241#is

[2022-07-27 14:36] CodyCBakerPhD commented on #243
@oruebel suggested generalizing this as a verbosity flag with multiple levels defining the extent to which we summarize the findings of the Inspector report. This would also absorb/extend/generalize the existing `--detailed` flag as the highest level of verbosity.

For example

[code]

[code]

[code]

[2022-07-27 14:40] TomDonoghue commented on #241
For the `imp` column in particular, I chatted briefly on this with Ben, and he mentioned this is no longer required. The files I was testing were converted a little while ago, and where _at most_ pynwb 2.0, but I think they were actually before that. From memory, when I set up the file conversion, this column was required (and I wasn't properly adding the electrode metadata anyways, so I dummy cod

[2022-08-01 13:11] bendichter opened #246 "[Add Check]: Missing values should be `None`, not empty string"
### What would you like to see added to the NWBInspector?

Sometimes users are missing optional values, such as the NWBFile.experimenter, and they use an empty string as a placeholder instead of just omitting this value by setting it to `None`. `None` is the better approach. We should add this to the best practices and add checks for it.

### Pseudocode or other logic of the check

_No response_

[2022-08-04 14:51] #246 closed, assigned to nobody

[2022-08-17 17:58] TomDonoghue opened #253 "[Bug]: Unclear Recommendation for Experimenter Name Formatting"
### What happened?

If there is a formatting issue with the experimenter names, the following warning is raised:
"Message: The name of experimenter 'Donoghue T' does not match the DANDI form (Last, First Middle or Last, First M.)."

This comes from here:
https://github.com/NeurodataWithoutBorders/nwbinspector/blob/f9b58ebff25f8a05a1a1e1ba6823e29a06acc6ff/nwbinspector/checks/nwbfile_metadata.py#L64

[2022-08-17 18:29] CodyCBakerPhD commented on #253
Thanks for the feedback - this name convention topic has been rather extensive, and the response from that DANDI team is that "names are complicated", which is absolutely true in this day and age. The regex is indeed a bit restrictive IMO however, it is largely up to DANDI for what they want to accept.

As for improving the communicated message, let's discuss this and try to reach an improvement.

[2022-08-17 18:35] bendichter commented on #253
@CodyCBakerPhD

oh, you are trying to communicate:

Last, First Middle
    or
Last, First M.

Yes, I also find this confusing.

How about:

"The name of experimenter '{experimenter}' does not match the DANDI form: 'LastName, FirstName MiddleInitial.' or 'LastName, FirstName MiddleName'."

[2022-08-17 18:37] CodyCBakerPhD commented on #253
That reads fine to me, what do you think @TomDonoghue

[2022-08-17 19:01] TomDonoghue commented on #253
OH! My main misinterpretation here is that I wasn't parsing the original message into two separate layouts, reading it all as one designation rather than two (basically, reading "First Middle or Last" as a description of the 2nd element of the overall name, rather than the `or` indicating two valid name layouts). Something about having the whole thing in a () threw me off I think.  Now that's it's

[2022-08-17 19:03] bendichter commented on #253
As long as we are being exhaustive, maybe we could do:

"The name of experimenter '{experimenter}' does not match the DANDI form: 'LastName, Firstname', 'LastName, FirstName MiddleInitial.' or 'LastName, FirstName, MiddleName'."

[2022-08-17 19:05] TomDonoghue commented on #253
I think listing all is fine - though I think setting it up as _the_ DANDI form is partly what made me think it was all one description, so maybe:
[code]
(or similar, with updated phrasing that clearly notes there is more than one acceptable layout here)

[2022-08-17 19:08] oruebel commented on #253
Just a thought, but one way we could ease data entry is by providing a format string, e.g., ``pynwb.file.experimenter_str = '{last}, {first} {middle}'`` such that a user could enter the experimenter as:

[code]

[2022-08-17 19:24] CodyCBakerPhD commented on #253
@oruebel Or have an `Experimenter` data type (simple `dataclass`, perhaps), each with `last, first, middle` attributes so I can add a bunch like

[code]

EDIT: This would also allow PyNWB-level of format checking and automated coercion to this expected form as the final output string (i.e., define `__to_str__` (or whatever that magic function is called) as `return f"'{last}, {first} {middle}'"`

[2022-08-17 19:52] oruebel commented on #253
I agree, that would be an even nicer option as it provides richer functionality, is easier to use, and is also more consistent with the PyNWB API. @CodyCBakerPhD  I would suggest creating an issue on PyNWB with your suggestion.

The magic function for this is ``__str__``, which is called when you call ``print()`` or ``str()`` on the object. In addition we may also want to overwrite ``__repr__`` ,

[2022-08-17 19:59] bendichter commented on #253
Creating an Experimenter class is fine, but we will still need the free string approach for backwards compatibility, which means we will still need to parse free strings.

[2022-08-17 20:16] oruebel commented on #253
Yes, either way the names would still be stored as strings in the schema, so we need to parse them. However, you could implement the string parsing in classmethods, e.g.,``Experimenter.parse`` to parse a string, ``Experimenter.from_str`` to create an ``Experimenter`` object from a string. In this way, this would make it easier to create properly formatted experimenter strings and make it easy for

[2022-08-17 20:21] oruebel commented on #253
Something like https://pypi.org/project/nameparser/ may also already provide many of the functions we are looking for

[2022-08-17 21:35] #253 closed, assigned to nobody

[2022-08-24 15:14] #103 closed, assigned to bendichter

[2022-08-24 16:36] #17 closed

[2022-08-25 22:59] #241 closed, assigned to nobody

[2022-08-30 13:27] CodyCBakerPhD opened #258 "[Add Check]: Add Best Practice for External Mode usage for ImageSeries"
### What would you like to see added to the NWBInspector?

Came up in meeting today - add best practice section covering external mode usage for natural behavioral videos saved as ImageSeries.

### Pseudocode or other logic of the check

_No response_

### Do you have any interest in helping implement the check function?

Yes.

### Code of Conduct

- [X] I agree to follow this project's [Code of C

[2022-08-30 13:27] CodyCBakerPhD commented on #258
@h-mayorquin did you want to take this one?

[2022-08-30 13:35] h-mayorquin commented on #258
I could, but where is the file that should be modified? Where does it live?
Where is the repo for?
https://www.nwb.org/best-practices/

[2022-08-30 13:54] CodyCBakerPhD commented on #258
@h-mayorquin These are the actual current Best Practices: https://nwbinspector.readthedocs.io/en/dev/best_practices/best_practices_index.html

They are in the docs for this repo, let me know if you have trouble finding them.

@oruebel Should we replace the https://www.nwb.org/best-practices/ with a link to https://nwbinspector.readthedocs.io/en/dev/best_practices/best_practices_index.html?

[2022-08-30 18:38] oruebel commented on #258
@CodyCBakerPhD my best guess is that the issue is that even though  https://www.nwb.org/best-practices/ is no longer linked to from the website, Google still finds it as the top hit when searching for "NWB Best Practices". Unfortunately we can't hack the Google search. I'll update the old page on nwb.org to point to the best practice on the the NWB Inspector docs.

[2022-08-30 18:40] CodyCBakerPhD commented on #258
Ahhhh, that'll do it.

Thanks for checking!

[2022-08-30 18:55] oruebel commented on #258
@CodyCBakerPhD I've now updated https://www.nwb.org/best-practices/ Please have a look and let me know if there are any further changes that I should make.

[2022-08-30 19:13] oruebel commented on #258
I've now also added on nwb.org a link to the "Best Practices for NWB Data" to the [overview of NWB Policies page](https://www.nwb.org/policies-overview/) as well as in main menu as part of the Policies sub-menu. Hopefully that will help clarify this issue further and make the best practices easier to find from the nwb.org website:

<img width="1467" alt="Screen Shot 2022-08-30 at 12 09 10 PM" src=

[2022-09-06 19:21] TheChymera opened #260 "[Feature]: option to exclude tests which require network connectivity"
### What would you like to see added to the NWBInspector?

I get a lot of errors of the form:

[code]

When trying to run the test suite of versions `0.4.{3..12}` this being the full build log for the latter: https://ppb.chymera.eu/ec7618.log

This could be done by either having an option which just turns network-reliant tests off (e.g. depending on an environment variable [as seen in DANDI](https

[2022-09-06 19:37] CodyCBakerPhD commented on #260
This was 'kind of' taken care of, or at least attempted to be, by the following lines of `test_inspector.py`

https://github.com/NeurodataWithoutBorders/nwbinspector/blob/dev/tests/test_inspector.py#L31-L41 and https://github.com/NeurodataWithoutBorders/nwbinspector/blob/dev/tests/unit_tests/test_time_series.py#L20-L31 (with skips at https://github.com/NeurodataWithoutBorders/nwbinspector/blob/dev

[2022-09-08 18:59] CodyCBakerPhD commented on #260
@TheChymera Does PR #261 resolve this issue?

[2022-09-15 20:42] #260 closed, assigned to CodyCBakerPhD

[2022-09-16 17:30] CodyCBakerPhD opened #263 "[Bug]: Philosophy for interactions with PyNWB versions"
### What happened?

Pertaining to https://github.com/conda-forge/nwbinspector-feedstock/pull/8, if someone runs the NWB Inspector tests (or the NWB Inspector itself on a file that has the relevant neurodata types) in an environment that has an older PyNWB version (for example, `2.0.0` when `2.1.0` is the latest) certain errors can occur, such as `IntracellularElectrodes` not having a `cell_id` fie

[2022-09-23 14:45] h-mayorquin commented on #258
So, if the file_path of the nwb file is:
`/the/path/of/the/nwbfile/file.nwb"
The path of the ImageSeries data should be what?
1. `nwbfile/movie.avi`
2. `/movie.avi`
3. `movie/avi`

Which one? And where is this requirements coming from?

[2022-09-23 15:09] CodyCBakerPhD commented on #258
The path attached to the ImageSeries should be `external_file=["./<relative_path_to_avi_file_from_nwb_file>"]`. I agree that giving an explicit example in the BP section might help.

As far as where the `.avi` file ought to be stored relative to the NWB file, I'd add a minor suggestion that it be kept adjacent for sharing purposes (and DANDI does this automatically when organizing a dataset). But

[2022-09-23 15:16] CodyCBakerPhD commented on #258
And on the justification of using external mode over writing it as a dataset - it's because no HDF5 compression plugin does as good of a job at reducing file sizes for natural movies. There are also some legal licensing reasons why we can't just implement a fancy movie codec into HDF5, too (they're almost all restrictive I believe).

Now something that came up with the Talmo lab as a way around th

[2022-09-23 15:42] h-mayorquin commented on #258
This is not clear to me, can you write an examples? Do you mean relative to parent directory of the nwbfile?

By adjacent you mean in the same directory, right?

[2022-09-23 15:49] h-mayorquin commented on #258
Concerning the explanation:
Are you saying that the plugin to compress movies exists right now but that we don't use because of licencing issues? Because, if the plugging does not exists but we could in principle implement it or go around the licencing in someway then telling that to the final user sounds convoluted to me. They don't need to know the reasons why something is not implemented.

[2022-09-23 15:49] CodyCBakerPhD commented on #258
"adjacent" -> same parent directory, the files are 'side-by-side'

Relevant example: you recently shared with me an NWB file (`courtship_behavior_LC10a_fly5.nwb`) that contained an ImageSeries in acquisition (`Video: 161101_10a05`) written in external mode, with the file path being `/home/heberto/Murthy-data-share/one2one-mapping/raw_data/courtship_behavior/videos/161101_10a05.avi`.

My main syste

[2022-09-23 15:54] CodyCBakerPhD commented on #258
That is my understanding, perhaps @bendichter or @oruebel can give a more precise description.

Indeed, but that's where the licensing comes in.

The 'go around it' is the bytestream part above, the issue is we don't think it would make for a good user experience and could result in data existing in an NWB file that the NWB API doesn't know how to parse on request. Yeah, IDK that we necessarily ne

[2022-09-23 16:16] h-mayorquin commented on #258
Thanks.

This I understand but the question remains the same `<relative_path_to_avi_file_from_nwb_file>` does not make sense. I think you mean relative to the parent directory of the nwb file, can you confirm?

[2022-09-23 16:29] CodyCBakerPhD commented on #258
Yes. I was thinking of it in terms of first-person navigation: 'what sequence of `cd` commands would I need to run to change my working directory *from* the place where the NWB file is *to* the place where the `.avi` file is'. Sorry if that's confusing

[2022-09-23 16:38] #258 closed, assigned to h-mayorquin

[2022-09-23 16:39] h-mayorquin commented on #258
I mean, my question was probably confusing as well given your last answer. No worries, man. Thanks for clarifying all the details!

[2022-09-23 16:40] CodyCBakerPhD commented on #220
This seems like a good alternate issue to shift the discussion from #264 of how to handle schema-version specifities in the longer-term

[2022-09-30 18:38] CodyCBakerPhD commented on #34
Old issue, closing from lack of activity

[2022-09-30 18:38] #34 closed, assigned to nobody

[2022-09-30 18:39] CodyCBakerPhD commented on #97
Closing for now - performance has not been a problem lately so not going to over-optimize it at this point

[2022-09-30 18:39] #97 closed, assigned to CodyCBakerPhD

[2022-10-11 09:20] bendichter commented on #176
This might be an issue of h5py 2 vs 3

On Wed, Apr 13, 2022 at 3:32 PM Cody Baker ***@***.***> wrote:

--
Benjamin Dichter, PhD
Neuro-Data Engineer
Founder, CatalystNeuro <http://catalystneuro.com/>
***@***.***

[2022-10-12 14:20] #189 closed, assigned to CodyCBakerPhD

[2022-10-12 17:06] #190 closed, assigned to CodyCBakerPhD

[2022-10-20 15:17] bendichter opened #293 "[Feature]: update from ros3 to fsspec"
### What would you like to see added to the NWBInspector?

fsspec has many advantages over ros3 as a streaming strategy. We should change of our streaming functionality within nwbwidgets to use fsspec instead of ros3

### Do you have any interest in helping implement the feature?

No.

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/NeurodataWithout

[2022-10-21 18:55] oruebel opened #294 "[Add Check]: Check that TimeSeries.control and TimeSeries.contro_description are consistent"
### What would you like to see added to the NWBInspector?

The nwb schema defines a few constraints for the options``TimeSeries.control`` and ``TimeSeries.control_description`` that should be checked if used:

1. Check that ``TimeSeries.control`` has the same length as the number of timestamps (i.e., the same length as the first dimension of ``TimeSeries.data``)
2. Check that ``TimeSeries.control_

[2022-10-27 20:12] CodyCBakerPhD opened #295 "[Bug]: Skip AnnotatedEventsTable in check_single_row"
### What happened?

Not really a bug, but a false positive in one of the checks. Just leaving this as a note for myself...

`check_single_row` should skip `AnnotatedEventsTable` neurodata types from the `ndx-events` extension; I was using this to represent a single type of event that had times occurring throughout the experiment, but because it was only a single event type it only technically used

[2022-11-04 15:10] bendichter opened #297 "[Bug]: check_electrical_series_dims is incorrect"
### What happened?

https://github.com/NeurodataWithoutBorders/nwbinspector/blob/65fb555c584405a3afbeed2a9086020b403dd556/src/nwbinspector/checks/ecephys.py#L26-L49

This method is not quite right. It is permissible for an `ElectricalSeries` to have a different number of electrodes from the electrodes table if `ElectricalSeries.electrodes` subselects electrodes in the table

### Steps to Reproduce

[2022-11-04 15:12] CodyCBakerPhD commented on #297
It refers to the electrode region specifically attached to the electrical series: https://github.com/NeurodataWithoutBorders/nwbinspector/blob/dev/src/nwbinspector/checks/ecephys.py#L34-L37

Perhaps `electrical_series.electrodes.data` points to the entire table? If so, how can we point to the selected subregion?

[2022-11-04 15:15] bendichter commented on #297
I'm looking...

[2022-11-04 15:15] bendichter commented on #297
I think you are right

[2022-11-04 15:18] #297 closed, assigned to nobody

[2022-11-04 15:39] bendichter opened #298 "[Documentation]: how to run inspection on an in-memory `NWBFile`?"
### What would you like changed or added to the documentation and why?

I don't see anything in the docs for how to inspect an in-memory NWBFile object. Looking at the code I'm not sure it's simple to do. @CodyCBakerPhD do you think we could add this as a feature?

### Do you have any interest in helping write or edit the documentation?

No.

### Code of Conduct

- [X] I agree to follow this proje

[2022-11-04 15:42] CodyCBakerPhD commented on #298
It's possible, just needs to be documented. Would simply tap into the next level of functions from the ones currently shown

[2022-11-04 15:43] CodyCBakerPhD commented on #298
If you need the instructions right away the following should work

[code]

[2022-11-07 16:29] #298 closed, assigned to nobody

[2022-11-09 20:06] #295 closed, assigned to nobody

[2022-11-09 20:23] CodyCBakerPhD commented on #293
Though I would add a note here for future reference that there's no reason to completely disallow `ros3` in case `fsspec` doesn't work in someone's particular case (also we already have infrastructure and tests for `ros3` support so might as well keep all that).

Plan is to

(i) add `fssspec` capability here and
(ii) make it the default over `ros3`

[2022-11-09 20:30] CodyCBakerPhD commented on #235
This is one of those things that's no longer possible in PyNWB>=2.2.0, right? So mostly as it applied to files made with previous versions

[2022-11-09 20:42] djarecka opened #302 "[Bug]: nwbinspector with dandi flag doesn't contain dandi validation errors"
### What happened?

I have an error from `dandi validator`, but no critical file from `nwbinspector` (file from the [user guide](https://github.com/dandi/example-notebooks/blob/master/dandi/DANDI%20User%20Guide%2C%20Part%20I.ipynb))

follow-up to https://github.com/dandi/dandi-cli/issues/1031

### Steps to Reproduce

[code]

### Traceback

_No response_

### Operating System

macOS

### Python Exe

[2022-11-09 20:48] CodyCBakerPhD commented on #302
@djarecka Thanks, can you try two quick things to help pin this down?

(a) `python -m nwbinspector.nwbinspector . --config dandi`

and if that gives the same results

(b) `python -c "import nwbinspector; print(nwbinspector.load_config(filepath_or_keyword='dandi'))"` to try to see if it's a local packaging issue (though unusual that `dandi validate` would still use the correct one...)

EDIT: correc

[2022-11-09 20:57] djarecka commented on #302
[code]
fyi., I've installed `nwbinspector` today with `pip install -U nwbinspector`

[2022-11-09 21:05] CodyCBakerPhD commented on #302
@djarecka Thanks, I can reproduce the series of behaviors myself. Will try to fix this ASAP.

Good to know the API-level still works as dandi uses it, so no trouble triggering invalidation of improper files downstream

[2022-11-09 21:21] CodyCBakerPhD commented on #302
Also, for reference (if I ever need to search for this again), the syntax is `python -m nwbinspector.nwbinspector ...` for manual calling of the module in that environment-specific Python.

That doesn't seem to play a part in the source of this issue however, the config values propagate the criticality down to the lowest level I can track so seeing if it's a display issue now...

[2022-11-10 02:13] #302 closed, assigned to CodyCBakerPhD

[2022-11-10 21:11] bendichter opened #304 "[Bug]: nwbinspector fails when there is an empty dataset"
### What happened?

When you write an empty dataset and pass it to nwbinspector it errors. I would like to handle this and create an InspectorMessage when such a dataset is detected

### Steps to Reproduce

[code]

### Traceback

[code]

### Operating System

macOS

### Python Executable

Conda

### Python Version

3.7

### Usage

Command Line Interface

### Were you streaming with ROS3?

No

###

[2022-11-10 21:13] bendichter commented on #304
On second thought, this looks like an issue with pynwb.validate

[2022-11-10 21:19] bendichter commented on #304
https://github.com/hdmf-dev/hdmf/issues/788

[2022-11-22 18:58] bendichter opened #307 "checking for lazy type"
https://github.com/NeurodataWithoutBorders/nwbinspector/blob/54ac2bc7cdcb92802b9251e29f249f155fb1ff52/src/nwbinspector/checks/time_series.py#L60

A few issues here.

1. `isinstance` can take a tuple of classes, so this line should be

[code]

2. you have `if is_lazy` and then later `if not is_lazy`. The second one should simply be `else`.

3. Why are you checking if this is lazy? Why is that relev

[2022-11-22 19:00] CodyCBakerPhD commented on #307
Scheduling this as a low-priority backlog following up from https://github.com/NeurodataWithoutBorders/nwbinspector/pull/296

[2022-11-22 21:43] #307 closed, assigned to CodyCBakerPhD

[2022-11-29 21:42] bendichter opened #313 "[Bug]: nwbinspector does not support a duration of years"
### What happened?

When entering human data, you generally want to report age in years. This is valid ISO 6801, but is not parsed by pandas. The reasoning, as explained [here](https://github.com/pandas-dev/pandas/issues/11375) is that months and years are not fixed intervals. They can be of variable length depending on the month or year. This is not the case with seconds, minutes, or hours.

So t

[2022-11-29 21:49] bendichter commented on #313
isodate has the same problem:

https://github.com/gweis/isodate/blob/8856fdf0e46c7bca00229faa1aae6b7e8ad6e76c/src/isodate/isoduration.py#L30-L35

If the datestring contains months or years, it returns a native `Duration` object, which can't be compared with `>` or `<`

[2022-11-29 21:51] bendichter commented on #313
native `timedelta` objects don't support months or years either

https://docs.python.org/3/library/datetime.html#datetime.timedelta

[2022-11-29 22:00] CodyCBakerPhD commented on #313
Really surprising all these fancy packages have chosen not to allow comparison between two time deltas that have the same relative offset (and therefore whatever looseness comes from variability in months/years would be equivalent for the two time deltas). Sounds like we'll have to use that function you found from stack overflow that does it manually.

[2022-11-29 22:58] #313 closed, assigned to bendichter